@import url("https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --red_500: #d23669;
  --gray_500: #9b9b9b;

  --white: #fff;
  --black: #000;

  --main_family: "Ubuntu", sans-serif;
  --secondary_family: "Inter", sans-serif;
}
